<div class="page-header">
  <h1><%= @cat.name %></h1>
</div>

<h3>This cat's toys are...</h3>

<div class="well">
  <ul>
  <% @cat.toys.each do |toy| %>
  <li><%=  toy.name %></li>
  <% end %>
  </ul>
</div>
